body {
    background: #999999;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

nav1 {
    margin: 100px auto;
    text-align: center;
}

nav1 ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}


nav1 ul {
    background: #0099FF;
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav1 ul:after {
    content: "";
    clear: both;
    display: block;
}

nav1 ul li {
    float: left;
}

nav1 ul li:hover {
    background: #0066FF;
}

nav1 ul li:hover a {
    color: #fff;
}

nav1 ul li a {
    display: block;
    padding: 25px 40px;
    color: #fff;
    text-decoration: none;
}


nav1 ul ul {
    background: #0099FF;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100td_persen;
}

nav1 ul ul li {
    float: none;
    border-top: 1px solid #0099FF;
    border-bottom: 1px solid #0099FF;
    position: relative;
}

nav1 ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav1 ul ul li a:hover {
    background: #0066FF;
}

nav1 ul ul ul {
    position: absolute;
    left: 100td_persen;
    top: 0;
}